

.Login {
    text-align: center;
    
  }
  
  .containerLogin {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: black;
    backdrop-filter: blur(100px);
    
  }

  .loginForm{
    background: linear-gradient(to left, #ffd5db 20%, #E3FDF5 80% );
    
  }

  .cardLogin{
    margin-top: 10%;
    margin-left: 10%;
    background-image:linear-gradient(to left, #f2eaea, rgb(255, 255, 255));
    backdrop-filter: blur(30px); 
    box-shadow: 10px 10px 10px rgba(30,30,30,0.5);


    
  }

  .alignLeft{
    text-align: left;
    margin-left: 15%;
    margin-top: 5%;
    padding-top: 5%;
  }

  .subAlignLeft{
    text-align: left;
    margin-left: 15%;
    margin-top: 0%;
  }

  .alignLeftBottom{
    margin-bottom: 200px;
  }
  
  
  .Login-link {
    color: #61dafb;
  }
  
  .descriptionHeight{
    margin-top: 1%;
    margin-bottom: 5%;
  }
  
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=Password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .loginBtn[type=submit] {
    width: 40%;
    background-color: black;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  }