.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
}

.nav {
	display: block;
	justify-content: space-between;
	padding: 5px 50px;
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}

.content-container {
	display: flex; /* Flexbox for side-by-side arrangement */
	flex-grow: 1; /* Grow to fill remaining space */
  }

.landing_bg {
	background-color: #ffcbfa;
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* Left Section */
.left-section {
	flex: 1; /* Allocate equal space for left section */
	padding: 50px; 
	margin-left: 8%;
  }
  
  .header {
	margin-bottom: 20px; 
	margin-top: 10%;
	font-family: 'sans-serif';
  }
  
  .next-btn {
	background-color: #f08080; /* Pink color for button */
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px; /* Rounded corners for button */
	cursor: pointer; /* Change cursor on hover */
  }
  
  /* Right Section */
  .right-section {
	flex: 1; /* Allocate equal space for right section */
	display: flex;
	justify-content: center; /* Center content horizontally */
	align-items: center; /* Center content vertically */
	margin-right:10%;
  }
 
  .cake-container {
	width: 500px; /* Set the width of the container */
	height: 500px; /* Set the height of the container */
	border-radius: 50%;
	position: relative; /* Make it a positioning context for absolute positioning */
  }
  
  .cake-image {
	position: absolute; /* Position the images relative to the container */
	top: 0; /* Position at the top of the container */
	left: 0; /* Position at the left of the container */
	width: 100%; /* Take up the full width of the container */
	height: 100%; /* Take up the full height of the container */
	opacity: 0; /* Initial opacity for fade-in */
	transition: opacity 1s ease-in-out; /* Set transition properties */
	background-color: #fff; /* Set background color to white */
  }
  
  .fade-in {
	opacity: 1;
  }
  
  .fade-out {
	opacity: 0;
  }
 
  .recipe-flow{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
	width: 50%;
	margin-left: 25%;
  }

  .recipe-flow-paragraph{
	padding-top: 30px;
  }
